:root {
  --background: azure;
  --copy: black;
  --primary: black;
  --secondary: orangered;
  --tertiary: darkviolet;

  --space-xxsm: 4px;
  --space-xsm: 8px;
  --space-sm: 13px;
  --space-m: 21px;
  --space-lg: 34px;
  --space-xlg: 55px;
  --space-xxlg: 89px;
  --space-xxxlg: 144px;

  --size-small: 13px;
  --size-copy: 16px;
  --size-h3: 21px;
  --size-h2: 34px;
  --size-h1: 55px;
  --size-title: 89px;
}

html,
body {
  width: 100%;
  font-size: var(--size-copy);
  color: var(--copy);
  background: transparent;
  font-family: 'Atkinson Hyperlegible';
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
