@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
  --background: azure;
  --copy: black;
  --primary: black;
  --secondary: orangered;
  --tertiary: darkviolet;
  --quaternary: darkturquoise;

  --space-xxsm: 4px;
  --space-xsm: 8px;
  --space-sm: 13px;
  --space-m: 21px;
  --space-lg: 34px;
  --space-xlg: 55px;
  --space-xxlg: 89px;
  --space-xxxlg: 144px;

  --size-small: 13px;
  --size-copy: 16px;
  --size-h3: 21px;
  --size-h2: 34px;
  --size-h1: 55px;
  --size-title: 89px;
}

html,
body {
  width: 100%;
  font-size: var(--size-copy);
  color: var(--copy);
  background: transparent;
  font-family: 'Atkinson Hyperlegible';
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-small {
  gap: var(--space-xxsm);
}

.gap-medium {
  gap: var(--space-sm);
}

.gap-large {
  gap: var(--space-m);
}

span.num {
  font-variant-numeric: tabular-nums;
  color: var(--tertiary);
}

span.emphasis {
  font-weight: bold;
  color: var(--secondary);
}

span.emphasis-alt {
  font-weight: bold;
  color: var(--quaternary);
}

button {
  color: var(--secondary);
  padding: 4px;
  cursor: pointer;
  font-family: 'Atkinson Hyperlegible';
}

button:hover:not(:disabled),
:focus {
  color: var(--quaternary);
}

button:disabled:not(.no-interact) {
  opacity: 1;
  cursor: default;
}

.no-interact {
  color: var(--copy);
  cursor: default;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover:not(:disabled),
:focus {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--secondary);
  box-shadow: -2000px 0 0 2000px var(--quaternary); /* 2 */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--secondary);
  box-shadow: -2000px 0 0 2000px var(--quaternary); /* 2 */
  cursor: pointer;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  overflow: hidden;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 20px;
  box-shadow: -2000px 0 0 2000px var(--quaternary); /* 2 */
}

.progress::-moz-range-thumb {
  width: 0px;
  height: 20px;
  box-shadow: -2000px 0 0 2000px var(--quaternary); /* 2 */
}
